{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/css/page.css" as="style">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Alistair Lane">
<meta name="author" content="Alistair Lane">
<meta name="robots" content="index,follow">
<script src="/js/typeit.min.js"></script>
<link rel="icon" type="image/x-icon" href="/img/alistairlane.ico">
<!-- BEGIN SOCIAL META DATA -->
<meta property="og:site_name" content="Alistair Lane">
<meta property="og:title" content="Alistair Lane">
<meta property="og:description" content="Alistair Lane">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta name="twitter:card" content="{% if image -%}summary_large_image{% else %}summary{% endif %}">
{%- if image -%}
  <meta property="og:image" content="{{ image | url | absoluteUrl(site.url) }}">
{%- endif -%}
<!-- ./END SOCIAL META DATA -->
<meta name="theme-color" content="#ffffff">
<title>{{ title or site.title }}</title>
<link rel="stylesheet" href="/css/page.css">
{% if not isFront %}
  <!-- include Normalize for regular text pages -->
  <link rel="stylesheet"  href="/css/normalize.min.css">
{% endif %}
