---
layout: base.njk
isFront: true
---

<div class="xl:px-20 lg:px-8 px-4 mx-auto max-w-screen-lg flex flex-col h-screen">
    <div class="w-full flex flex-col">
        <div class="w-full px-4 mb-4">
            <p class="small pt-48">
                2022<br />&mdash; 2023
            </p>
            <h1 class="pt-16 pb-11">Shopify<br />Section<br />Picker</h1>
            <p class="pb-7 max-w-screen-sm">In 2022, I rejoined the Online Store team to help evolve the theme design system and the way we use it to enable the team to produce a wider variety of designs, and give our merchants more tools to build their stores.
Following the systems work, we redesigned how merchants add new sections to their store to make it easier and faster to customize their storefronts.</p>
        </div>
        <div class="w-full pt-8 px-4">
            <video autoplay muted loop playsinline class="w-full widevideo" id="videotwo" src="../img/SectionEditor.mp4" preload="auto"></video>
            <p class="pb-7 pt-8 max-w-screen-sm">Adding sections to a Shopify theme</p>
        </div>

        <div class="w-full px-4 mb-4">
            <p class="small pt-60">
                2017<br />&mdash; 2020
            </p>
            <h1 class="pt-16 pb-11">Shopify<br />Creative<br />Direction</h1>
            <p class="pb-7 max-w-screen-sm">The Creative Direction team was made up of design technologists, motion designers, product designers and illustrators. During my time leading the team, I doubled the size of the team from 4 to 8.

In 2017 we shipped the first version of Shopify’s design system &#8212; Polaris. Between 2018 and 2020 I led the team through a complete refresh of our design language, and took that work on a roadshow across the company to help setup and enable teams to use the new design language.</p>
        </div>
        <div class="w-full pt-8 px-4">
            <img alt="Frenzy" class="w-full widevideo" src="../img/designlanguage.png">
            <p class="pb-7 pt-8 max-w-screen-sm">Merchants running flash sales on Frenzy</p>
        </div>

        <div class="w-full px-4 mb-4">
            <p class="small pt-60">
                2016<br />&mdash; 2017
            </p>
            <h1 class="pt-16 pb-11">Frenzy</h1>
            <p class="pb-7 max-w-screen-sm">he Garage was a purpose built area within Shopify to work on quick, experimental projects. I led a small UX team, and the most noteable project we shipped was Frenzy.

The first version of Frenzy took just 4 months to design, build and ship. Frenzy was one of Shopify’s first consumer products. It allowed merchants to  sell their most hyped products to their biggest fans through limited time flash sales. It was an active project up until 2019, and during that time, it featured sales from some of Shopify’s most exciting merchants.</p>
        </div>
        <div class="w-full pt-8 px-4">
            <img alt="Frenzy" class="w-full widevideo" src="../img/frenzysales.png">
            <p class="pb-7 pt-8 max-w-screen-sm">Merchants running flash sales on Frenzy</p>
        </div>
    </div>
</div>

    

    
