---
layout: base.njk
isFront: true
---

<div class="xl:px-20 lg:px-8 px-4 mx-auto max-w-screen-lg flex flex-col h-screen">
    <div class="w-full flex flex-col">
        <div class="w-full px-4 mb-4">
            <p class="small pt-48">
                2022<br />&mdash; 2023
            </p>
            <h1 class="pt-16 pb-11">Shopify<br />Section<br />Picker</h1>
            <p class="pb-7 max-w-screen-sm">In 2022, I rejoined the Online Store team to help evolve the theme design system and the way we use it to enable the team to produce a wider variety of designs, and give our merchants more tools to build their stores.
Following the systems work, we redesigned how merchants add new sections to their store to make it easier and faster to customize their storefronts.</p>
        </div>
        <div class="w-full pt-8 px-4">
            <img alt="Section Picker" class="w-full widevideo" src="../img/sectionpicker.png">
            <p class="pb-7 pt-8 max-w-screen-sm">Section Picker</p>
        </div>
        <div class="flex flex-col md:flex-row py-8">
            <div class="w-full md:w-1/2 pl-4 pr-8">
                <img alt="Managing Products" class="w-full widevideo" src="../img/mobileselect.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Pick a Section</p>
            </div>
            <div class="w-full md:w-1/2 pl-8 pr-4">
                <img alt="Managing Customers" class="w-full widevideo" src="../img/mobileadd.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Confirm Section</p>
            </div>
        </div>
        <div class="w-full pt-8 px-4">
            <video autoplay muted loop playsinline class="w-full widevideo" id="videotwo" src="../img/Editor.mp4" preload="auto"></video>
            <p class="pb-7 pt-8 max-w-screen-sm">Adding sections to a Shopify theme</p>
        </div>

        <div class="w-full px-4 mb-4">
            <p class="small pt-60">
                2017<br />&mdash; 2020
            </p>
            <h1 class="pt-16 pb-11">Shopify<br />Creative<br />Direction</h1>
            <p class="pb-7 max-w-screen-sm">The Creative Direction team was made up of design technologists, motion designers, product designers and illustrators.

In 2017 we shipped the first version of Shopify’s design system &#8212; Polaris. Between 2018 and 2020 I led the team through a complete refresh of our design language.</p>
        </div>
        <div class="w-full pt-8 px-4">
            <img alt="Login" class="w-full widevideo" src="../img/login.png">
            <p class="pb-7 pt-8 max-w-screen-sm">Login</p>
        </div>
        <div class="flex flex-col md:flex-row py-8">
            <div class="w-full md:w-1/2 pl-4 pr-8">
                <img alt="Managing Products" class="w-full widevideo" src="../img/manageproducts.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Managing Products</p>
            </div>
            <div class="w-full md:w-1/2 pr-4 pl-8">
                <img alt="Managing Customers" class="w-full widevideo" src="../img/managecustomers.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Managing Customers</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row py-8">
            <div class="w-full sm:w-1/2 pl-4 pr-8">
                <img alt="Onboarding" class="w-full widevideo" src="../img/mobilehome1.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Onboarding</p>
            </div>
            <div class="w-full sm:w-1/2 pr-4 pl-8">
                <img alt="Home" class="w-full widevideo" src="../img/mobilehome2.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Home</p>
            </div>
        </div>
        <div class="w-full py-8 px-4">
            <img alt="Login" class="w-full widevideo" src="../img/pricing.png">
            <p class="pb-7 pt-8 max-w-screen-sm">Pricing</p>
        </div>

        <div class="w-full px-4 mb-4">
            <p class="small pt-60">
                2016<br />&mdash; 2017
            </p>
            <h1 class="pt-16 pb-11">Frenzy</h1>
            <p class="pb-7 max-w-screen-sm">Frenzy was one of Shopify’s first consumer products. It allowed merchants to  sell their most hyped products to their biggest fans through limited time flash sales.</p>
        </div>

        <div class="flex flex-col md:flex-row py-8">
            <div class="w-full sm:w-1/2 pl-4 pr-8">
                <img alt="Frenzy" class="w-full widevideo" src="../img/frenzyhome.png">
                <p class="pb-7 pt-8 max-w-screen-sm">Frenzy Home</p>
            </div>
            <div class="w-full sm:w-1/2 pr-4 pl-8">
                <video autoplay muted loop playsinline class="w-full widevideo" id="videothree" src="../img/frenzyvid.mp4" preload="auto"></video>
            <p class="pb-7 pt-8 max-w-screen-sm">Frenzy Walkthrough</p>
            </div>
        </div>


    </div>
</div>

    

    
